@charset "utf-8";
/* CSS Document */
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes run{
  0%,
  50% { -webkit-transform: scale(0);opacity: 0.5;}
  80% { -webkit-transform: scale(0.8) rotate(180);opacity: 0.8;}
  100% { -webkit-transform: scale(1);opacity: 1;}
}

@keyframes run{
  0%,
  50% { -webkit-transform: scale(0);opacity: 0.5;}
  80% { -webkit-transform: scale(0.8) rotate(180);opacity: 0.8;}
  100% { -webkit-transform: scale(1);opacity: 1;}
}
@-webkit-keyframes bounceInLeft {
0% {
	opacity:0;
	-webkit-transform:translateX(-2000px);
}
60% {
	opacity:1;
	-webkit-transform:translateX(30px);
}
80% {
	opacity:1;
	-webkit-transform:translateX(-10px);
}
100% {
	opacity:1;
	-webkit-transform:translateX(0);
}
}
@keyframes bounceInLeft {
0% {
	opacity:0;
	-webkit-transform:translateX(-2000px);
}
60% {
	opacity:1;
	-webkit-transform:translateX(30px);
}
80% {
	opacity:1;
	-webkit-transform:translateX(-10px);
}
100% {
	opacity:1;
	-webkit-transform:translateX(0);
}
}
@-webkit-keyframes bounceInRight {
0% {
	opacity:0;
	-webkit-transform:translateX(2000px);
}
60% {
	opacity:1;
	-webkit-transform:translateX(-30px);
}
80% {
	-webkit-transform:translateX(10px);
}
100% {
	-webkit-transform:translateX(0);
}
}
@keyframes bounceInRight {
0% {
	opacity:0;
	transform:translateX(2000px);
	-ms-transform:translateX(2000px);
	-moz-transform:translateX(2000px);
}
60% {
	opacity:1;
	transform:translateX(-30px);
	-ms-transform:translateX(-30px);
	-moz-transform:translateX(-30px);
}
80% {
	transform:translateX(2000px);
	-ms-transform:translateX(10px);
	-moz-transform:translateX(10px);
}
100% {
	transform:translateX(2000px);
	-ms-transform:translateX(0);
	-moz-transform:translateX(0);
}
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity:0;
		-webkit-transform:translateY(2000px);
	}
	60% {
		opacity:1;
		-webkit-transform:translateY(-30px);
	}
	80% {
		opacity:1;
		-webkit-transform:translateY(10px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
	}
}
@keyframes bounceInUp {
	0% {
		opacity:0;
		transform:translateY(2000px);
	}
	60% {
		opacity:1;
		transform:translateY(-30px);
	}
	80% {
		opacity:1;
		transform:translateY(10px);
	}
	100% {
		opacity:1;
		transform:translateY(0);
	}
}
@-webkit-keyframes fadeOutUp {
	0% {
	opacity:1;
	-webkit-transform:translateY(0);
	transform:translateY(0)
}
100% {
	opacity:0;
	-webkit-transform:translateY(-10px);
	transform:translateY(-10px)
}
}
@keyframes fadeOutUp {
	0% {
	opacity:1;
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
100% {
	opacity:0;
	-webkit-transform:translateY(-10px);
	-ms-transform:translateY(-10px);
	transform:translateY(-10px)
}
}
@-webkit-keyframes fadeOutLeft {
	0% {
	opacity:1;
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
100% {
	opacity:0;
	-webkit-transform:translateX(-10px);
	transform:translateX(-10px)
}
}
@keyframes fadeOutLeft {
	0% {
	opacity:1;
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0)
}
100% {
	opacity:0;
	-webkit-transform:translateX(-10px);
	-ms-transform:translateX(-10px);
	transform:translateX(-10px)
}}
@-webkit-keyframes fadeOutRight {
	0% {
	opacity:1;
	-webkit-transform:translateX(0);
	transform:translateX(0)
}
100% {
	opacity:0;
	-webkit-transform:translateX(10px);
	transform:translateX(10px)
}
}
@keyframes fadeOutRight {
	0% {
	opacity:1;
	-webkit-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0)
}
100% {
	opacity:0;
	-webkit-transform:translateX(10px);
	-ms-transform:translateX(10px);
	transform:translateX(10px)
}
}
@keyframes myfirst
{
0%   {background: url(/static/images/discount/bg.png) no-repeat center top;}
25%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
50%  {background: url(/static/images/discount/bg3.png) no-repeat center top;}
75%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
100% {background: url(/static/images/discount/bg.png) no-repeat center top;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background: url(/static/images/discount/bg.png) no-repeat center top;}
25%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
50%  {background: url(/static/images/discount/bg3.png) no-repeat center top;}
75%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
100% {background: url(/static/images/discount/bg.png) no-repeat center top;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {background: url(/static/images/discount/bg.png) no-repeat center top;}
25%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
50%  {background: url(/static/images/discount/bg3.png) no-repeat center top;}
75%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
100% {background: url(/static/images/discount/bg.png) no-repeat center top;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background: url(/static/images/discount/bg.png) no-repeat center top;}
25%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
50%  {background: url(/static/images/discount/bg3.png) no-repeat center top;}
75%  {background: url(/static/images/discount/bg2.png) no-repeat center top;}
100% {background: url(/static/images/discount/bg.png) no-repeat center top;}
}

@-webkit-keyframes Down {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 0; }
}
@-moz-keyframes Down {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 0; }
}
@-ms-keyframes Down {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 0;}
}
@-o-keyframes Down {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 0;}
}
@keyframes Down {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 0;}
}


@-webkit-keyframes Down2 {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 103px; }
}
@-moz-keyframes Down2 {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 103px; }
}
@-ms-keyframes Down2 {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 103px; }
}
@-o-keyframes Down2 {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% { opacity: 1;bottom: 103px; }
}
@keyframes Down2 {
	0% {  }
	1% { opacity: 0; bottom: 300%; }
    2% { opacity: 1; }
	100% {opacity: 1; bottom: 103px; }
}


.bounceInDown{-webkit-animation-name:zoomIn;animation-name:zoomIn;-webkit-animation-duration:.35s;animation-duration:.35s}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100%{
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
  	opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
  	opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
  	opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}



@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}


@-webkit-keyframes rubberBand{
  0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
  30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}
  40%{-webkit-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}
  50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}
  65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
  75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
  100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes rubberBand{
  0%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
  30%{-webkit-transform:scale3d(1.25,.75,1);-ms-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}
  40%{-webkit-transform:scale3d(0.75,1.25,1);-ms-transform:scale3d(0.75,1.25,1);transform:scale3d(0.75,1.25,1)}
  50%{-webkit-transform:scale3d(1.15,.85,1);-ms-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}
  65%{-webkit-transform:scale3d(.95,1.05,1);-ms-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}
  75%{-webkit-transform:scale3d(1.05,.95,1);-ms-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}
  100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}

@-webkit-keyframes zoomIn{
  0%{
    opacity:0;
    -webkit-transform:scale3d(.3,.3,.3);
    transform:scale3d(.3,.3,.3)
  }
  50%{opacity:1}
}
@keyframes zoomIn{
  0%{
    opacity:0;
    -webkit-transform:scale3d(.3,.3,.3);
    -ms-transform:scale3d(.3,.3,.3);
    transform:scale3d(.3,.3,.3)
  }
  50%{opacity:1}
}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn;-webkit-animation-duration:.35s;animation-duration:.35s}