@charset "UTF-8";

.common-marquee{width:100%;overflow:hidden;white-space:nowrap}
.common-marquee:hover > .marquee-content{animation-play-state:paused;-moz-animation-play-state:paused;-webkit-animation-play-state:paused;-o-animation-play-state:paused;-ms-animation-play-state:paused}
.common-marquee:focus > .marquee-content{animation-play-state:paused;-moz-animation-play-state:paused;-webkit-animation-play-state:paused;-o-animation-play-state:paused;-ms-animation-play-state:paused}
.common-marquee > .marquee-content{display:inline-block;padding-left:100%;white-space:nowrap;animation:marquee linear infinite;-moz-animation:marquee linear infinite;-webkit-animation:marquee linear infinite;-o-animation:marquee linear infinite;-ms-animation:marquee linear infinite}
.common-marquee > .marquee-content.paused{animation-play-state:paused;-moz-animation-play-state:paused;-webkit-animation-play-state:paused;-o-animation-play-state:paused;-ms-animation-play-state:paused}

@-webkit-keyframes marquee {
  0%{transform:translate(0,0);-ms-transform:translate(0,0);-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0)}
  100%{transform:translate(-100%,0);-ms-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-o-transform:translate(-100%,0)}
}
@-ms-keyframes marquee {
  0%{transform:translate(0,0);-ms-transform:translate(0,0);-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0)}
  100%{transform:translate(-100%,0);-ms-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-o-transform:translate(-100%,0)}
}
@-moz-keyframes marquee {
  0%{transform:translate(0,0);-ms-transform:translate(0,0);-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0)}
  100%{transform:translate(-100%,0);-ms-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-o-transform:translate(-100%,0)}
}
@-o-keyframes marquee {
  0%{transform:translate(0,0);-ms-transform:translate(0,0);-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0)}
  100%{transform:translate(-100%,0);-ms-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-o-transform:translate(-100%,0)}
}
@keyframes marquee {
  0%{transform:translate(0,0);-ms-transform:translate(0,0);-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0)}
  100%{transform:translate(-100%,0);-ms-transform:translate(-100%,0);-moz-transform:translate(-100%,0);-webkit-transform:translate(-100%,0);-o-transform:translate(-100%,0)}
}