@charset "UTF-8";
.items{width:100%;overflow:hidden;white-space:nowrap;text-align:center;line-height:200%;color:#747474}
.items .item{position:relative;display:inline-block;padding:0 .3em}
.items .item.active{color:#fff}
.items .item.active:after{opacity:1;transform:scaleX(1);-ms-transform:scaleX(1);-moz-transform:scaleX(1);-webkit-transform:scaleX(1);-o-transform:scaleX(1)}
.items .item:hover{color:#fff}
.items .item:hover:after{opacity:1;transform:scaleX(1);-ms-transform:scaleX(1);-moz-transform:scaleX(1);-webkit-transform:scaleX(1);-o-transform:scaleX(1)}
.items .item:after{position:absolute;left:0;right:0;top:1px;display:block;height:3px;background:#fff;opacity:0;content:'';transform:scaleX(0.2);-ms-transform:scaleX(0.2);-moz-transform:scaleX(0.2);-webkit-transform:scaleX(0.2);-o-transform:scaleX(0.2);transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}

.text{text-align:center;font-size:80%;line-height:2.5em}

.footer-content-margin{display:inline-block;width:100%}
.footer-content{position:absolute;bottom:3em;left:0;display:inline-block;width:100%;padding-bottom:.5em;background:#383838;color:#fff}