@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/9b3596311c6d4109b6496529645c1152.woff') format('woff2'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card:before {
  content: "\e601";
}

.icon-chenggong:before {
  content: "\e62f";
}

.icon-12:before {
  content: "\e60b";
}

.icon-iconfontshanchu3:before {
  content: "\e61a";
}

.icon-yincang:before {
  content: "\e624";
}

.icon-xianshi:before {
  content: "\e62e";
}

.icon-red:before {
  content: "\e623";
}

.icon-Artboard:before {
  content: "\e667";
}

.icon-xiala:before {
  content: "\e600";
}

.icon-tab_home:before {
  content: "\e61e";
}

.icon-tab_discount:before {
  content: "\e61f";
}

.icon-tab_news:before {
  content: "\e620";
}

.icon-tab_mine:before {
  content: "\e621";
}

.icon-tab_game:before {
  content: "\e622";
}

.icon-common_help:before {
  content: "\e625";
}

.icon-sidebar_depositcopy:before {
  content: "\e626";
}

.icon-sidebar_helpcopy:before {
  content: "\e627";
}

.icon-sidebar_licensecopy:before {
  content: "\e628";
}

.icon-sidebar_transfercop:before {
  content: "\e629";
}

.icon-sidebar_withdrwcopy:before {
  content: "\e62a";
}

.icon-sidebar_letter:before {
  content: "\e62b";
}

.icon-sidebar_setings:before {
  content: "\e62c";
}

.icon-sidebar_logout:before {
  content: "\e62d";
}

.icon-tab_home_selecte:before {
  content: "\e634";
}

.icon-tab_discount_selecte:before {
  content: "\e635";
}

.icon-tab_mine_selecte:before {
  content: "\e636";
}

.icon-tab_game_selecte:before {
  content: "\e637";
}

.icon-tab_news_selecte:before {
  content: "\e638";
}

.icon-home_inform:before {
  content: "\e639";
}

.icon-game_search:before {
  content: "\e63a";
}

.icon-geme_collected:before {
  content: "\e63b";
}

.icon-mine_bankcard:before {
  content: "\e63c";
}

.icon-mine_account:before {
  content: "\e63d";
}

.icon-mine_points:before {
  content: "\e63e";
}

.icon-mine_return:before {
  content: "\e63f";
}

.icon-mine_discount:before {
  content: "\e641";
}

.icon-mine_task:before {
  content: "\e642";
}

.icon-mine_website:before {
  content: "\e643";
}

.icon-mine_recommend:before {
  content: "\e645";
}

.icon-balance_refresh:before {
  content: "\e644";
}

.icon-common_menu:before {
  content: "\e648";
}

.icon-common_back:before {
  content: "\e649";
}

.icon-close:before {
  content: "\e64c";
}

.icon-common_Arrow:before {
  content: "\e64d";
}

.icon-deposit_bankcard:before {
  content: "\e651";
}

.icon-deposit_alipay:before {
  content: "\e652";
}

.icon-deposit_wechat:before {
  content: "\e653";
}

.icon-discount_yh:before {
  content: "\e654";
}

.icon-discount_cs:before {
  content: "\e655";
}

.icon-discount_ty:before {
  content: "\e656";
}

.icon-discount_jy:before {
  content: "\e657";
}

.icon-discount_jj:before {
  content: "\e658";
}

.icon-discount_fs:before {
  content: "\e659";
}

.icon-discount_lj:before {
  content: "\e65a";
}

.icon-qiandaoyouli:before {
  content: "\e65b";
}

.icon-shuyingbaifenbai:before {
  content: "\e65c";
}

.icon-mall_points:before {
  content: "\e65d";
}

.icon-mall_gift:before {
  content: "\e65e";
}

.icon-mall_discount:before {
  content: "\e65f";
}

.icon-setings_off:before {
  content: "\e661";
}

.icon-setings_on:before {
  content: "\e662";
}

.icon-setings_messege:before {
  content: "\e663";
}

.icon-setings_password:before {
  content: "\e664";
}

.icon-setings_prefile:before {
  content: "\e665";
}

.icon-setings_password1:before {
  content: "\e666";
}

.icon-list_hb:before {
  content: "\e66d";
}

.icon-list_xs:before {
  content: "\e66e";
}

.icon-list_zx:before {
  content: "\e66f";
}

.icon-list_sg:before {
  content: "\e670";
}

.icon-list_tk:before {
  content: "\e671";
}

.icon-list_yh:before {
  content: "\e672";
}

.icon-list_hn:before {
  content: "\e673";
}

.icon-list_ck:before {
  content: "\e674";
}

.icon-list_jf:before {
  content: "\e675";
}

.icon-list_hy:before {
  content: "\e676";
}

.icon-list_zz:before {
  content: "\e677";
}

.icon-list_cs:before {
  content: "\e678";
}

.icon-register_account:before {
  content: "\e679";
}

.icon-register_password:before {
  content: "\e67a";
}

.icon-yonghuming:before {
  content: "\e67b";
}

.icon-huiyuandengji:before {
  content: "\e67c";
}

.icon-laohujiyongjin:before {
  content: "\e67d";
}

.icon-qitayongjin:before {
  content: "\e67e";
}

.icon-zhangdan:before {
  content: "\e67f";
}

.icon-shezhi:before {
  content: "\e680";
}

.icon-zhanneixin:before {
  content: "\e681";
}

.icon-tixian:before {
  content: "\e682";
}

.icon-lijitu_selecte:before {
  content: "\e683";
}

.icon-lijitu:before {
  content: "\e684";
}

