@charset "UTF-8";
body > .main-wrap {
    background: #1c2333;
    margin: 0;
    padding: 0 4%;
    padding-bottom: 80px;
}

input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus {
     box-shadow:0 0 0 60px #60647a inset;
     -webkit-text-fill-color: #aaaaaa;
 }

.common-footer {
    display: none;
}

.register h3 {
    text-align: center;
    margin: 15px 0;
}

.register h3.logo img {
    height: 70px;
}

.main-wrap .table {
    display: flex;
    border-bottom: 1px solid #3B4160;
    color: #AAAAAA;
    line-height: 40px;
    padding: 0 40px;
    justify-content: space-around;
}

.main-wrap .table .cur {
    color: #CFBE7E;
}

.main-wrap .table .cur span {
    border-bottom: 1px solid #CFBE7E;
}

.main-wrap .table div span {
    display: block;
}

.main-wrap .tab-de {
    padding-top: 50px;
}

#regUserName::-webkit-input-placeholder, #regUserpwd::-webkit-input-placeholder, #regIphone::-webkit-input-placeholder, #mobileYZM::-webkit-input-placeholder {
    color: #ccc;
}

#regUserName:-moz-placeholder, #regUserpwd:-moz-placeholder, #regIphone:-moz-placeholder, #mobileYZM:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
}

#regUserName::-moz-placeholder, #regUserpwd::-moz-placeholder, #regIphone::-moz-placeholder, #mobileYZM::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
}

#regUserName:-ms-input-placeholder, #regUserpwd:-ms-input-placeholder, #regIphone:-ms-input-placeholder, #mobileYZM:-ms-input-placeholder {
    color: #ccc;
}

.main-wrap .tab-de li {
    background: #4F5468;
    border-radius: 50px;
    height: 38px;
    line-height: 37px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 0 13px;
    /*overflow: hidden;*/
    position: relative;
}

.main-wrap .tab-de li:last-child {
    margin-bottom: 5px;
}

.main-wrap .tab-de li .t {
    text-align: left;
    width: 18%;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    z-index: 5;
    padding-left: 10px;
}

.main-wrap .tab-de li .erro {
    position: absolute;
    bottom: -19px;
    color: red;
    line-height: 20px;
    left: 63px;
    font-weight: normal;
}

.main-wrap .tab-de li input {
    background-color: inherit;
    border: 0;
    width: 80%;
}

.main-wrap .tab-de li .input-pos {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 40px;
    padding: 0 5% 0 25%;
    color: #ccc;

}

.main-wrap .condition {
    color: #999999;
    font-size: 12px;
}

.user-name {
    display: none;
}
.login .user-name{
    display: block;
}
.login .mobile-phone{
    display: none;
}
.forgetPassword {
    text-align: right;
    padding-right: 11px;
    /*display: none;*/
}

.forgetPassword a {
    color: #AAAAAA;

}

/*.checkbox-wrap{
    width: 90%;
    position: relative;
    margin: 0 auto;
    top: 30%;
    height: 40%;
    background-color: white;
}*/

.checkbox-wrap {
    padding-top: 50px;
}

.checkbox-wrap input[type="checkbox"] {
    display: none;
}

.checkbox-wrap input[type="checkbox"] + label::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    line-height: 18px;
    border: 1px solid #AE9E5F;
    padding: 2px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.checkbox-wrap input[type="checkbox"]:checked + label::before {
    background-color: #AE9E5F;
    border-color: #AE9E5F;
    content: '✓';
    font-size: 12px;
    color: #fff;
    padding: 0;
    border: 0;
    text-align: center;
}

.checkbox-wrap label {
    font-size: 12px;
    color: #999999;

}

.checkbox-wrap label b {
    color: #408CC4;
}

.reg-btn {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FAFAFA;
    border-radius: 100px;
    background: #FF9800;
    margin-top: 50px;
}

.main-wrap .tab-de .i-yanzma .yzb-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 20px 18px 0;
    background-color: #ae9e5f;
    padding: 0 10px;
    width: auto;
}

.reg-btn.cur {
    background-color: #AE9E5F;
    color: #fff;
}

/*.register .yanzma-box */
.register .u-yanzma .yanzma {
    position: absolute;
    border-bottom-right-radius: 45px;
    background-color: #ae9e5f;
    border-top-right-radius: 45px;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 100%;
}

.main-wrap .tab-de .i-yanzma .yzb-btn.cur {
    background-color: #404454;
    color: #d4d4d4;
}

/*注册验证*/
.main-wrap .register1 {
    display: none;
}

.register1 .user-box {
    text-align: center;
    padding-top: 20px;
}

.register1 .user-box .user-list {
    overflow: hidden;
    display: inline-block;
}

.register1 .user-box .user-list li {
    position: relative;
    text-align: center;
    float: left;
    margin: 10px;
}

.register1 .user-box .user-list li .user-tit {
    width: 80px;
    height: 80px;
    background: #464F6D;
    border-radius: 50%;
    background: url(../images/avatar.png) no-repeat center;
    background-size: 100%;
}

.register1 .user-box .user-list li .r {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #AE9E5F;
    position: absolute;
    right: 0;
    background-color: #2f374d;
    top: 6px;
}

.register1 .user-box .user-list .cur i {
    background-color: #ae9e5f;
}

.register1 .user-box .user-list .cur i:before {
    content: '√';
    color: #Fff;
    display: inline-block;
    font-size: 12px;
}

.register1 .user-box .user-list li p {
    color: #AAAAAA;
    font-size: 14px;
}

.register1 .btn-box {
    margin-top: 50px;
}

.btn-y, .btn-b {
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 40px;
    font-size: 16px;
    margin: 20px 0;
}

.btn-y {
    background: #AE9E5F;
}

.btn-b {
    background: #475277;
}

/*弹窗*/

.user-verification {
    text-align: center;
}

.user-verification p {
    padding-bottom: 25px;
    font-size: 16px;
}

.user-verification .reg1-user-name {
    background: #4F5468;
    border: 0;
    height: 34px;
    border-radius: 34px;
    width: 64%;
    padding: 0 10px;
}

/****************登录也*/
.login .go-reg {
    color: #fff;
    margin-top: 30px;
    font-size: 16px;
    display: block;
    text-align: center;

}

.login .go-reg b {
    font-weight: normal;
    color: #408CC4;
}

.user-pro {
    display: none;
}

.user-name .eye {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    font-size: 26px;
}

.btn-back {
    display: block;
    text-align: center;
    color: #ae9e5f;
    border: 1px dashed #555555;
    border-radius: 30px;
    line-height: 36px;
}

.aler-xyi {
    display: none;
}