.lottery-logo.cqssc {
    background-image: url(../images/logo/cqssc.png)
}

.lottery-logo.mmc {
    background-image: url(../images/logo/mmc.png)
}

.lottery-logo.ffssc {
    background-image: url(../images/logo/ffssc.png)
}

.lottery-logo.lfssc {
    background-image: url(../images/logo/lfssc.png)
}

.lottery-logo.hgssc {
    background-image: url(../images/logo/hgssc.png)
}

.lottery-logo.tjssc {
    background-image: url(../images/logo/tjssc.png)
}

.lottery-logo.xjssc {
    background-image: url(../images/logo/xjssc.png)
}

.lottery-logo.djssc {
    background-image: url(../images/logo/djssc.png)
}

.lottery-logo.xxlssc {
    background-image: url(../images/logo/xxlssc.png)
}

.lottery-logo.txssc {
    background-image: url(../images/logo/txssc.png)
}

.lottery-logo.txgwssc {
    background-image: url(../images/logo/txgwssc.png)
}

.lottery-logo.bjpk10 {
    background-image: url(../images/logo/bjpk10.png)
}

.lottery-logo.ffpk10 {
    background-image: url(../images/logo/ffpk10.png)
}

.lottery-logo.jx11x5 {
    background-image: url(../images/logo/jx11x5.png)
}

.lottery-logo.ff11x5 {
    background-image: url(../images/logo/ff11x5.png)
}

.lottery-logo.gd11x5 {
    background-image: url(../images/logo/gd11x5.png)
}

.lottery-logo.sd11x5 {
    background-image: url(../images/logo/sd11x5.png)
}

.lottery-logo.fc3d {
    background-image: url(../images/logo/fc3d.png)
}

.lottery-logo.ff3d {
    background-image: url(../images/logo/ff3d.png)
}

.lottery-logo.pl35 {
    background-image: url(../images/logo/pl35.png)
}

.lottery-logo.jsk3 {
    background-image: url(../images/logo/jsk3.png)
}

.lottery-logo.hbk3 {
    background-image: url(../images/logo/hbk3.png)
}

.lottery-logo.gxk3 {
    background-image: url(../images/logo/gxk3.png)
}

.lottery-logo.xjp2f {
    background-image: url(../images/logo/xjp2f.png)
}

.lottery-logo.bj5f {
    background-image: url(../images/logo/bj5f.png)
}