body {
    font-size: 12px
}

a {
    color: #333
}

a:hover {
    color: #2EA7E0
}

a:active, a:focus, a:hover, a:link, a:visited {
    text-decoration: none;
    outline: 0 !important;
    blr: expression(this.onFocus=this.blur());
    transition: all .5s ease
}

.btn-primary, .btn-primary:focus {
    background: #2EA7E0;
    border-color: #2EA7E0
}

.btn-primary:hover {
    border-color: #286090
}

.btn-default:hover {
    background: #efefef;
    border-color: #ddd
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: FZLTXHK, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', SimSun, sans-serif
}

.form-control, .form-group-lg .form-control {
    border-radius: 2px;
    box-shadow: none
}

.main-container {
    width: 1200px;
    margin: auto
}

.bootstrap-select button {
    box-shadow: none;
    border: 1px solid #ccc;
    background: 0 0;
    color: #5a5a5a
}

.bootstrap-select button:hover {
    box-shadow: none;
    color: #5a5a5a
}

.btn {
    box-shadow: none
}

.btn:hover {
    box-shadow: none;
    opacity: .8
}

input:not([type]):focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #08a1ef;
    box-shadow: 0 1px 0 0 #08a1ef
}

.btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    outline-offset: 0
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.modal-header .close:active, .modal-header .close:focus {
    background: 0 0
}

.bootstrap-select.btn-group .dropdown-toggle .bs-caret, .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #5a5a5a
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: #08a1ef
}

.text-red {
    color: #fc5b6b
}

.text-blue {
    color: #08a1ef
}

.text-green {
    color: #70cfb7
}

.margin1em-left {
    margin-left: 1em !important
}

.margin2em-left {
    margin-left: 2em !important
}

.caret-top, .caret-top:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.caret-top {
    border-width: 7px
}

.caret-top:after {
    border-width: 6px
}

.caret-top {
    top: -7px;
    left: 50%;
    margin-left: -7px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25)
}

.caret-top:after {
    top: 1px;
    margin-left: -6px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff
}

.caret-left, .caret-left:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.caret-left {
    border-width: 8px
}

.caret-left:after {
    border-width: 7px
}

.caret-left {
    top: 10px;
    left: -7px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-right-width: 0
}

.caret-left:after {
    bottom: -10px;
    right: 1px;
    content: " ";
    border-right-color: #334259;
    border-left-width: 0
}

.header {
    width: 100%;
    height: 45px;
    background: #334259
}

.header .welcome {
    color: #a6b9d3;
    line-height: 45px
}

.user-nav ul li {
    position: relative;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-top: 13px;
    padding: 0 10px;
    border-right: 1px dashed #a6b9d3
}

.user-nav ul li:first-child, .user-nav ul li:last-child {
    border-right: none;
    padding-right: 0
}

.user-nav ul li a {
    color: #a6b9d3
}

.user-nav ul li a:hover {
    color: #08a1ef
}

.top-icon {
    background: url(../images/common/top-icon.png) no-repeat;
    display: inline-block;
    width: 20px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    transition: all .3s ease
}

.user-nav .icon1 {
    background-position: 0 0
}

.user-nav .icon2 {
    background-position: -22px 0
}

.user-nav .icon3 {
    background-position: -45px 0
}

.user-nav .icon4 {
    background-position: -72px 0
}

.user-nav .icon5 {
    background-position: -100px 0
}

.user-nav .icon6 {
    background-position: -126px 0
}

.user-nav .icon7 {
    background-position: -153px 0
}

.user-nav .icon8 {
    background-position: -180px 0
}

.user-nav ul li a:hover > .icon1 {
    background-position: 0 -20px
}

.user-nav ul li a:hover > .icon2 {
    background-position: -22px -20px
}

.user-nav ul li a:hover > .icon3 {
    background-position: -45px -20px
}

.user-nav ul li a:hover > .icon4 {
    background-position: -72px -20px
}

.user-nav ul li a:hover > .icon5 {
    background-position: -100px -20px
}

.user-nav ul li a:hover > .icon6 {
    background-position: -126px -22px
}

.user-nav ul li a:hover > .icon7 {
    background-position: -153px -20px
}

.user-nav ul li a:hover > .icon8 {
    background-position: -180px -20px
}

.header .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    transition: all .3s ease-out 0s;
    visibility: hidden;
    display: block;
    opacity: 0;
    top: 60px;
    left: 50%;
    padding: 0
}

.header ul li:hover > .dropdown-menu .news-box {
    display: block
}

.header ul li:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0)
}

.header .dropdown-menu a {
    padding: 0;
    line-height: inherit
}

.top-user-menu {
    width: 90px;
    text-align: center;
    min-width: 90px;
    margin-left: -45px;
    padding: 0
}

.header .dropdown-memu-ul a {
    line-height: 36px;
    height: 36px;
    border-top: 1px solid #ddd;
    color: #4a4a4a;
    padding: 0 10px
}

.header .dropdown-memu-ul a:first-child {
    border-top: 0
}

.header .dropdown-memu-ul a:hover {
    background: #fafafa;
    color: #08a1ef;
    margin: 0;
    border-radius: 0 0 4px 4px
}

.top-user-ue {
    text-align: center;
    width: 180px;
    margin-left: -90px;
    height: 44px;
    line-height: 44px
}

.top-user-ue i {
    color: #08a1ef;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer
}

.header .top-user-news {
    width: 450px;
    margin-left: -225px
}

.header .top-user-news .caret-top {
    left: 210px
}

.header .news-fl {
    border-bottom: 1px solid #ddd
}

.header .news-fl a {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #aaa;
    background: #fff;
    display: block;
    width: 224px;
    float: left
}

.header .news-fl a:first-child {
    border-right: 1px solid #ddd;
    width: 224px
}

.header .news-fl a.active {
    background: #f5f5f5;
    color: #4a4a4a
}

.header .top-user-news .news-item {
    padding: 10px 15px 5px;
    border-bottom: 1px solid #ddd;
    display: block;
    transition: all .3s ease
}

.header .news-item:last-child {
    border-bottom: 0
}

.header .news-item h4 {
    color: #4a4a4a;
    margin-bottom: 10px;
    font-size: 14px;
    transition: all .3s ease;
    font-weight: 700
}

.header .news-item h4 span {
    color: #999;
    font-size: 12px
}

.header .news-item p {
    color: #7a7a7a;
    line-height: 1.6em;
    font-size: 12px
}

.header .top-user-news .read-rome a {
    color: #b5b7bc;
    background: #fafafa;
    text-align: center;
    border-radius: 0 0 4px 4px;
    height: 40px;
    line-height: 40px
}

.header .top-user-news .news-item:hover > h4, .header .top-user-news .news-item:hover > p, .header .top-user-news .read-rome a:hover {
    color: #08a1ef
}

.header .top-user-news .news-item:hover {
    background: #fafafa
}

.nav {
    background: #fff;
    width: 100%;
    height: 68px;
    position: relative;
    border-bottom: 1px solid #eee
}

.nav a {
    color: #526069;
    display: block;
    line-height: 68px
}

.nav .main-nav > li {
    float: left
}

.nav .main-nav > li:hover {
    background: #08a1ef;
    color: #fff
}

.nav .main-nav > li > a {
    position: relative;
    padding: 0 20px;
    font-size: 16px
}

.nav .main-nav > li.active > a, .nav .main-nav > li > a:hover {
    background: #08a1ef;
    color: #fff
}

.nav .main-nav > li.new > a:after {
    content: 'new';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: 10px;
    padding: 2px;
    line-height: 100%;
    font-size: 20px;
    color: #f33;
    font-weight: 700;
    background: #fff;
    border: 2px solid #f33;
    border-radius: 2px;
    transform: scale(.8) rotate(20deg);
    animation: new_link 2s infinite
}

.nav .main-nav > li.new > a:hover:after {
    background: #08a1ef;
    color: #fff;
    border-color: #fff
}

@keyframes new_link {
    0% {
        transform: scale(.8) rotate(20deg)
    }
    10%, 20%, 5% {
        transform: scale(1) rotate(20deg)
    }
    25%, 35%, 45% {
        transform: scale(.8) rotate(20deg)
    }
    20%, 30%, 40% {
        transform: scale(1) rotate(20deg)
    }
    50% {
        transform: scale(.8) rotate(20deg)
    }
}

.nav .main-nav > li > a i {
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 28px
}

.nav .caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    color: #fff;
    position: absolute;
    top: -8px;
    left: 43px
}

.nav .caipiao-li {
    position: relative
}

.nav .sub-nav {
    z-index: -1;
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    transition: all .3s ease-out;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 68px;
    left: 0;
    padding: 10px 15px;
    width: 100%;
    background: #ebedf2;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 5px #334259
}

.nav li:hover > a {
    color: #fff
}

.nav .sub-nav dl a {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #ccc;
    color: #666;
    padding: 0 8px;
    margin: 3px 5px;
    border-radius: 23px;
    position: relative;
    height: 23px;
    line-height: 21px
}

.nav .sub-nav dl a i.label {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 13px;
    padding: 2px;
    height: 13px;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    font-size: 10px;
    -webkit-transform: scale(.8);
    font-family: Arial;
    font-weight: 400
}

.nav .sub-nav dl a:nth-child(4n) {
    margin-right: 0
}

.nav .sub-nav dl a:hover {
    color: #08a1ef;
    border: 1px solid #08a1ef
}

.nav .caipiao {
    width: 500px;
    background: #ebedf2
}

.nav .sub-nav dt {
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    color: #666;
    font-size: 14px
}

.nav .sub-nav dl {
    margin-bottom: 0
}

.nav .main-nav > li:hover div.sub-nav {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 99
}

.sport .caret-up {
    left: 50%;
    color: #f2f2f2;
    margin-left: 126px
}

.sport-list {
    display: table;
    margin: auto;
    text-align: center
}

.sport-item {
    display: table-cell;
    padding: 0 30px
}

.sport-img {
    transition: all .5s ease;
    border: 6px solid #fff;
    box-shadow: 0 8px 30px -5px #bbb;
    position: relative;
    width: 280px;
    height: 160px;
    overflow: hidden
}

.sport-img:hover {
    box-shadow: 0 8px 30px -5px #616161
}

.sport-item .star-game {
    transition: all .3s ease;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    line-height: 148px;
    opacity: 0
}

.sport-img:hover > .star-game {
    opacity: 1
}

.sport-item p {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 0;
    color: #5a5a5a
}

.sport.zhenren .caret-up {
    margin-left: 20px
}

.sport.dzyy .caret-up {
    margin-left: 228px
}

.dzyy .sport-item {
    padding: 0 20px
}

.dzyy .sport-img {
    width: 260px
}

.j-l-content {
    padding-bottom: 50px
}

.j-l-content .login-game {
    height: 450px;
    background: url(../images/login/login-game-bg.jpg) no-repeat
}

.j-l-content .login-game .col-sm-4, .j-l-content .login-game .col-sm-8, .j-l-content .no-padding {
    padding: 0
}

@media (min-width: 768px) and (max-width: 1100px) {
    .j-l-content .lottery-box {
        padding: 30px 10px
    }
}

.j-l-content .about-wrap {
    margin-bottom: 40px
}

.j-l-content .part-bodyld1 {
    text-align: center;
    margin-top: 40px
}

.j-l-content .part-bodyld1h5 {
    margin: 10px 0;
    font-size: 16px;
    color: #fff
}

.j-l-content .part-bodyld1h5 span {
    margin: 0 5px;
    color: #70cfb7;
    line-height: 2.5
}

.j-l-content .part-bodyld1v {
    height: 60px;
    font-size: 38px;
    color: #fff;
    line-height: 62px;
    padding-top: 15px;
    font-weight: 700
}

#minute_show {
    width: 50px
}

.j-l-content .part-d1vsn {
    position: relative;
    top: 29px;
    margin-right: -17px;
    letter-spacing: 17px;
    line-height: 0;
    color: #fff
}

.j-l-content .part-bodysp {
    display: inline-block;
    width: 78px;
    height: 57px;
    background: url(../images/login/shuzi.png) no-repeat
}

.j-l-content .part-bodyld1 .bet {
    display: inline-block;
    margin-top: 45px;
    width: 180px;
    height: 45px;
    border: 1px solid rgba(8, 161, 239, .3);
    border-radius: 45px;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 42px;
    transition: all .25s ease
}

.j-l-content .part-bodyld1 .bet:hover {
    background: #08a1ef;
    color: #000;
    transition: all .3s ease
}

.j-l-content .lottery-box {
    padding: 20px 10px;
    overflow: hidden
}

.j-l-content .lottery-box .red {
    background: #FF641A
}

.j-l-content .lottery-box .green {
    background: #26B999
}

.j-l-content .lottery-box .color {
    font-style: normal;
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    display: inline-block;
    right: -8px;
    top: -8px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8)
}

.j-l-content .lottery-box dt {
    margin: 6px 0;
    width: 100%;
    float: left
}

.j-l-content .lottery-box .title {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: right;
    padding: 0
}

.j-l-content .lottery-box .bd a {
    border: 1px solid rgba(229, 229, 229, .5);
    line-height: 26px;
    width: 100px;
    text-align: center;
    margin: 3px 10px;
    border-radius: 26px;
    color: #ccc;
    position: relative;
    float: left;
    font-size: 12px;
    text-decoration: none
}

.j-l-content .lottery-box .bd a:hover {
    border: 1px solid rgba(8, 161, 239, .75);
    box-shadow: 0 0 8px rgba(8, 161, 239, .75);
    color: #08a1ef;
    transition: border .1s linear 0s, -webkit-box-shadow .5s linear 0s
}

.login-title {
    margin: 30px auto 10px;
    height: 56px
}

.login-title h3 {
    font-size: 24px;
    font-weight: 400;
    color: #fdfcff
}

.login-title span {
    font-size: 16px;
    text-transform: uppercase;
    color: #999;
    font-weight: 400;
    margin-left: 10px
}

@-webkit-keyframes arrowAnimation {
    from {
        bottom: 40px;
        filter: alpha(opacity=20);
        opacity: .2
    }
    to {
        bottom: 25px;
        filter: alpha(opacity=100);
        opacity: 1
    }
}
table td{
    font-size: 12px;
}
@-ms-keyframes arrowAnimation {
    from {
        bottom: 40px;
        filter: alpha(opacity=20);
        opacity: .2
    }
    to {
        bottom: 25px;
        filter: alpha(opacity=100);
        opacity: 1
    }
}

@-moz-keyframes arrowAnimation {
    from {
        bottom: 40px;
        filter: alpha(opacity=20);
        opacity: .2
    }
    to {
        bottom: 25px;
        filter: alpha(opacity=100);
        opacity: 1
    }
}

@-o-keyframes arrowAnimation {
    from {
        bottom: 40px;
        filter: alpha(opacity=20);
        opacity: .2
    }
    to {
        bottom: 25px;
        filter: alpha(opacity=100);
        opacity: 1
    }
}

@keyframes arrowAnimation {
    from {
        bottom: 40px;
        filter: alpha(opacity=20);
        opacity: .2
    }
    to {
        bottom: 25px;
        filter: alpha(opacity=100);
        opacity: 1
    }
}

.game-list ul {
    margin: 0;
    padding: 0
}

.game-list ul li {
    display: inline-block;
    height: 268px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 365px;
    margin-right: 30px;
    box-shadow: 0 1px 2px #ccc
}

.game-list ul li:last-child {
    margin-right: 0
}

.game-list li .tit {
    width: 365px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 135px;
    background: url(../images/login/game-list-bg.png) no-repeat
}

.game-list li:hover .show-pic img {
    transform: scale3d(1.2, 1.2, 1)
}

.show-pic img {
    transition: all .6s ease-out 0s
}

.game-list ul li h1 {
    color: #555;
    font-size: 18px;
    margin: 40px auto 20px
}

.game-list ul li span {
    color: #999;
    font-size: 14px;
    padding-left: 5px
}

.game-list ul li a {
    border: 1px solid #ebebeb;
    border-radius: 30px;
    color: #999;
    display: inline-block;
    line-height: 34px;
    padding: 0 32px;
    text-decoration: none
}

.game-list ul li a:hover {
    border: 1px solid rgba(8, 161, 239, .75);
    box-shadow: 0 0 8px rgba(8, 161, 239, .75);
    color: #08a1ef;
    transition: border .1s linear 0s, -webkit-box-shadow .5s linear 0s
}

.hd-list ul {
    margin: 0;
    padding: 0
}

.hd-list li {
    width: 570px;
    float: left;
    margin-right: 30px;
    position: relative;
    box-shadow: 0 1px 2px #ccc
}

.hd-list li img {
    width: 100%;
    transition: all .6s ease-out 0s
}

.hd-list li:last-child {
    margin-right: 0
}

.hd-list li:hover img {
    transform: scale3d(1.1, 1.1, 1)
}

.hd-text {
    width: 570px;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 15px;
    line-height: 50px
}

.about-box ul {
    margin: 0;
    padding: 0
}

.about-box li {
    width: 365px;
    height: 230px;
    float: left;
    overflow: hidden;
    margin-right: 50px
}

.about-box li:last-child {
    margin-right: 0;
    width: 335px
}

.service-advantage {
    overflow: hidden;
    width: 365px
}

.service-advantage li {
    height: 45px;
    margin-bottom: 20px;
    position: relative
}

.service-title span {
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
    float: left
}

.service-title p, .service-title span {
    height: 20px;
    line-height: 20px;
    overflow: hidden
}

.service-title p {
    color: #999
}

.service-advantage li .time {
    color: #999;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -10px
}

.service-advantage li .time-bar {
    background-color: #e3e3e3;
    margin-top: 10px
}

.service-advantage li .bar, .service-advantage li .time-bar {
    border-radius: 10px;
    height: 15px
}

.service-advantage li .deposit-bar .bar {
    background-color: #70cfb7
}

.service-advantage li .time-bar .bar {
    float: left;
    overflow: hidden;
    width: 0
}

.service-advantage li:last-child {
    margin-bottom: 0
}

.service-advantage li .time em {
    color: #333;
    font-size: 30px;
    font-style: normal;
    margin-right: 8px;
    position: relative;
    top: 4px
}

.service-advantage li .withdraw-bar .bar {
    background-color: #08a1ef
}

.about-text p {
    font-size: 13px;
	color: #fdfcff;
}

.down-box a {
    float: left;
    text-align: center;
    margin-right: 30px
}

.down-box a:last-child {
    margin-right: 0
}

.down-box i {
    width: 70px;
    height: 70px;
    border: 1px solid #70cfb7;
    color: #70cfb7;
    border-radius: 70px;
    padding: 12px
}

.down-box h3 {
    font-size: 14px;
    color: #e3e3e3
}

.user-icon {
    background: url(../images/common/icon.png) -96px -118px no-repeat;
    width: 32px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 33px;
    top: 14px;
    z-index: 99;
    border-right: 1px solid #ccc
}

.yzm-icon {
    background: url(../images/common/icon.png) -32px -118px no-repeat;
    width: 32px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 33px;
    top: 14px;
    z-index: 99;
    border-right: 1px solid #ccc
}

.password-icon {
    background: url(../images/common/icon.png) -64px -118px no-repeat;
    width: 32px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left: 33px;
    top: 14px;
    z-index: 99;
    border-right: 1px solid #ccc
}

.refresh-icon {
    background: url(../images/common/icon.png) 0 -118px no-repeat;
    width: 32px;
    height: 20px;
    display: inline-block
}

.login-title h2 {
    font-size: 24px;
    line-height: 36px;
    margin: 0
}

.login-title small {
    vertical-align: bottom;
    line-height: 36px;
    font-size: 14px;
    margin-top: 5px
}

.login-title a {
    color: #ff2c67
}

.login-box .btn {
    background: #08a1ef
}

.login-box .forget-password {
    color: #08a1ef;
    padding-top: 7px;
    display: block;
    line-height: 27px
}

.login-box .forget-password:hover {
    text-decoration: underline
}

.modal-msg {
    width: 500px;
    margin-top: 200px
}

.modal-msg .modal-body {
    background: #f7f9fa
}

.btn-msg-sumit {
    padding: 5px 30px;
    background: #08a1ef
}

#banner .indicator {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 2;
    transition: all .3s ease
}

#banner .indicator .indicator-dot {
    position: relative;
    bottom: auto;
    left: auto;
    margin-left: auto;
    width: auto;
    line-height: 40px
}

#banner .indicator .indicator-dot li {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 0 10px;
    background: #fff;
    transition: all .3s ease
}

#banner .indicator .indicator-dot li.active {
    background: #08a1ef;
    border: 0
}

.num {
    width: 52px;
    height: 52px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 8px #999;
    -moz-box-shadow: 0 3px 8px #999;
    box-shadow: 0 3px 8px #999;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    color: #5a5a5a;
    margin: 0 7px;
    background: -webkit-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: -o-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: -moz-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%)
}

a.num.active, a.num:active {
    border: 0;
    line-height: 32px;
    color: #fff;
    background: url(../images/cqssc/ball-hover.png) no-repeat
}

.word-ball.active:hover, a.num.active:hover {
    color: #333;
    transform: scale(1)
}

a.num:hover {
    color: #333;
    transform: scale(1.2)
}

.word-ball {
    width: 32px;
    height: 28px;
    line-height: 26px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: #7a7a7a;
    margin: 0 2px;
    background: #fff;
    border: 1px solid #ccc;
    transition: all 0s ease !important
}

.word-ball:hover {
    color: #333
}

.word-ball.active {
    border: 0;
    line-height: 28px;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #666

}

.word-ball.act{
    background: #70cfb7; color: #fff
}

.word-ball a:hover {
    color: #333
}

.word-ball a.act:hover {
    color: #fff
}

.label-sm {
    font-size: 12px;
    font-weight: 400;
    padding: 0 .5em;
    border-radius: 8px
}

.page-center {
    background: url(../images/common/page-bg.jpg) top center no-repeat;
    background-size: cover;
    min-height: 800px;
	    
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 100px;
}

body.bg1 .page-center {
    background-image: url(../images/game/1.jpg)
}

body.bg2 .page-center {
    background-image: url(../images/game/2.jpg)
}

body.bg3 .page-center {
    background-image: url(../images/game/3.jpg)
}

body.bg4 .page-center {
    background-image: url(../images/game/4.jpg)
}

body.bg5 .page-center {
    background-image: url(../images/game/5.jpg)
}

body.bg6 .page-center {
    background-image: url(../images/game/6.jpg)
}

.lottery-logo {
    background: left center no-repeat;
    width: 185px;
    height: 120px
}

.lottery-logo.index {
    background-position: center;
    width: 100%
}

.countdown-time {
    margin: 20px 0;
    padding: 12px 10px;
    height: 80px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #3e545b;
    background: rgba(0, 0, 0, .25)
}

.lottery-current.mmc {
    min-width: 380px
}

.lottery-current.mmc > div {
    display: none
}

.lottery-current.mmc:after {
    content: '鍗虫姇鍗冲紑';
    width: 100%;
    line-height: 56px;
    color: #fff;
    text-align: center;
    display: block
}

.lottery-result.mmc p {
    display: none
}

.game-date-next {
    margin-right: 5px;
    color: #fff;
    font-weight: 700;
    text-align: right;
    vertical-align: top;
    display: inline-block
}

.game-date-next p {
    margin: 0;
    padding: 0;
    line-height: 28px
}

.game-date-next p span {
    color: #70cfb7
}

.game-date-next h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    width: 32px;
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
    text-align: center
}

.game-next-countdown-time {
    display: inline-block
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear
}

.timeTo {
    font-size: 28px;
    line-height: 118%;
    font-weight: 700;
    height: 56px
}

.timeTo span {
    vertical-align: top;
    color: #999
}

.timeTo.timeTo-white div {
    color: #fff;
    background: url(../images/common/countdown-time-bg.png) no-repeat;
    width: 38px !important;
    height: 56px !important
}

.timeTo div {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.timeTo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 28px;
    text-align: center
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

.game-kj {
    margin: 20px 0;
    padding: 12px 10px;
    height: 80px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #3e545b;
    background: rgba(0, 0, 0, .25);
    position: relative
}

.game-kj .num {
    width: 48px;
    height: 48px;
    line-height: 46px;
    font-weight: 700;
    color: #fff;
    margin: 4px 5px 0
}

.jinqi {
    position: absolute;
    right: -50px;
    top: 0
}

.jinqi .dropdown-menu {
    position: absolute;
    left: -455px;
    top: 0
}

.jinqi .fa-caret-right {
    position: absolute;
    top: 13px;
    right: -9px;
    color: #fff
}

.kj-pre {
    display: inline-block
}

.kj-number-new {
    width: 375px;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.kj-number-new .num {
    font-size: 30px;
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, .3)
}

.kj-number-new.lottery-result-pk10 .num {
    margin: 13px 2px 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px
}

.kj-history {
    line-height: 28px;
    color: #fff;
    display: inline-block;
    float: right
}

.kj-history a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block
}

.kj-history a:hover {
    color: #08a1ef
}

.kj-history a i {
    width: 18px;
    text-align: center;
    vertical-align: text-top
}

.icon-hmzs {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -175px -120px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.icon-help {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -214px -120px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.icon-double-down {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -141px -120px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.betContent {
    background: #fff;
    background: rgba(255, 255, 255, .8);
    position: relative
}

.left-menu {
    background: #334259;
    width: 68px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0
}

.left-menu ul li {
    border-bottom: 1px solid #41536f;
    padding: 8px 0;
    position: relative;
    transition: all .3s ease
}

.left-menu ul li > a {
    height: 48px;
    width: 48px;
    display: block;
    border: 2px solid #929396;
    text-align: center;
    line-height: 44px;
    color: #929396;
    border-radius: 50%;
    margin: auto;
    transition: all .3s ease
}

.left-menu ul li.active, .left-menu ul li:hover {
    background: #08a1ef
}

.left-menu ul li.active > a, .left-menu ul li:hover > a {
    color: #fff;
    border: 2px solid #fff
}

.left-menu-dropdown {
    position: absolute;
    top: 18px;
    left: 68px;
    background: #334259;
    z-index: 4;
    width: 230px;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(10px, 0, 0);
    -moz-transform: translate3d(10px, 0, 0);
    -webkit-transform: translate3d(10px, 0, 0);
    transition: all .3s ease-out 0s
}

.left-menu-dropdown .cz-title {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 700
}

.left-menu ul li .cz-list {
    border-top: 1px solid #41536f;
    background: #334259;
    padding: 10px 0;
    border-radius: 0 0 4px
}

.left-menu ul li .cz-list a {
    color: #a6b9d3;
    line-height: 20px;
    width: 50%;
    float: left;
    padding: 5px 0 5px 15px
}

.left-menu ul li .cz-list a.active, .left-menu ul li .cz-list a:hover {
    color: #08a1ef
}

.left-menu ul li:hover > .left-menu-dropdown {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0)
}

.game-betCont {
    padding-left: 80px;
    width: 100%;
    padding-right: 10px;
    padding-top: 5px;
    min-height: 510px
}

.game-hd {
    border-bottom: 1px solid #e9e9e9;
    height: 50px
}

.game-hd span {
    margin-top: 2px;
    padding: 10px 15px;
    font-size: 16px;
    color: #5a5a5a !important;
    display: inline-block
}

.game-hd span.cur, .game-hd span:hover {
    color: #70cfb7 !important;
    display: inline-block;
    border-bottom: solid 2px #70cfb7
}

.shuaixuan {
    border: 1px solid #e9e9e9;
    padding: 10px;
    color: #5a5a5a;
    margin: 10px 0;
    background: #ebedf2;
    background: rgba(235, 237, 242, .5)
}

.shuaixuan .xuan-item {
    padding-bottom: 5px
}

.shuaixuan .method-name {
    overflow: hidden
}

.shuaixuan .s-t, .shuaixuan li {
    margin: 2px 0;
    padding: 3px 10px;
    text-align: center;
    font-size: 14px;
    float: left
}

.shuaixuan li {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer
}

.shuaixuan li:hover {
    color: #2EA7E0
}

.shuaixuan li.cur {
    background: #70cfb7;
    color: #fff
}

.tz-game {
    padding: 10px;
    width: 740px;
    min-height: 500px;
    background: #ebedf2;
    background: rgba(235, 237, 242, .5)
}

.tz-game .help {
    position: relative;
    overflow: visible;
    opacity: 0;
}

.tz-game .help-box {
    position: absolute;
    right: 0;
    padding: 5px 10px;
    width: 580px;
    line-height: 200%;
    color: #333;
    background: #fdf1df;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    display: none;
    z-index: 11
}

.tz-game .help-box > div {
    padding: 5px 0
}

.tz-game .help-box #helpExp {
    border-top: 1px dashed #ccc
}

.tz-game .help:hover .help-box {
    display: block
}

.game-choose {
    margin-top: 5px;
    min-height: 230px
}

.game-choose .ball-list {
    position: relative;
    margin: 0 0 5px;
    padding: 4px 0 0 50px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    transition: all .5s ease
}

.game-choose .ball-list:first-child {
    border: none
}

.game-choose .ball-list.hot, .game-choose .ball-list.omit {
    position: relative;
    margin-top: -5px;
    padding: 0;
    border: none;
    display: none
}

.game-choose.hot .game-numbers-list.hot, .game-choose.omit .game-numbers-list.omit {
    display: block
}

.game-choose .s-numbers {
    float: left
}

.game-choose .wei{
    position: absolute;
    top: 4px;
    left: 0;
    min-width: 65px;
    line-height: 38px;
    color: #333;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    float: left
}

.game-choose .ball-list.hot .s-title, .game-choose .ball-list.omit .s-title {
    position: relative;
    top: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    background: 0 0
}

.game-choose .yuan {
    margin: 0 2px 4px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    color: #666;
    background: #f9f9f9;
    background: -webkit-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: -o-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: -moz-linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    background: linear-gradient(#fff 10%, #e3e4e7 71%, #f0f0f0 100%);
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 1px rgba(0, 0, 0, .21);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    float: left;
    transition: all .5s ease
}

.game-choose .yuan.ball-number-current:hover, .game-choose .yuan:hover {
    color: #333
}

.game-choose .ball:hover {
    transform: scale(1.2)
}

.game-choose .yuan.ball-number-current {
    color: #fff;
    background: url(../images/cqssc/ball-hover.png) no-repeat #70cfb7;
    border: none;
    transform: scale(1)
}

.game-choose .ball-list.hot .ball, .game-choose .ball-list.omit .ball {
    margin-bottom: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #999;
    background: 0 0;
    border: none;
    box-shadow: none
}

.game-choose .s-numbers.jsk3 .ball {
    margin-bottom: 5px;
    padding: 5px 20px;
    width: auto;
    min-width: 30px;
    height: auto;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .21);
    transition: none;
    transform: none
}

.game-choose .ball.sbig {
    padding: 0 10px;
    width: auto;
    font-size: 18px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    transition: none;
    transform: none
}

.game-choose .ball.sbig.cur, .game-choose .s-numbers.jsk3 .ball.cur {
    background: #70cfb7;
    box-shadow: 0 5px 9px rgba(0, 0, 0, .27) inset
}

.game-choose .s-numbers.jsk3 .ball em {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    display: block
}

.game-choose .s-numbers.jsk3.s4 .ball {
    padding: 5px 0;
    width: 150px
}

.game-choose .s-numbers.jsk3.s5 .ball {
    padding: 5px 0;
    width: 119.2px
}

.game-choose .s-numbers.jsk3.s6 .ball {
    padding: 5px 0;
    width: 98.6px
}

.game-choose .s-numbers.jsk3.s8 .ball {
    padding: 5px 0;
    width: 73px
}

.game-choose .ball-control-btn{
    padding: 4px;
    font-size: 14px;
    float: right
}

.game-choose .fang{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #6d6b6b;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    transition: all .5s ease
}

.game-choose .fang:hover {
    color: #7eb0ff;
    border-color: #7eb0ff;
    transform: scale(1.2)
}

.game-choose .s-numbers-ctrl .ball-s:active, .game-choose .s-numbers-ctrl .ball-s:link {
    background: #7eb0ff;
    color: #fff;
    transform: scale(1)
}

.game-choose #textarea_Lottery textarea {
    padding: 5px 8px;
    min-height: 120px;
    resize: vertical
}

.game-choose #textarea_Lottery .control {
    padding: 10px 0 5px
}

.ball-control {
    float: right;
    height: 35px;
    border-radius: 21px;
    display: inline-block;
    color: #7a7a7a;
    text-align: center;
    vertical-align: top
}

.ball-control a {
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    line-height: 23px
}

.ball-control a:hover {
    background: #fff;
    color: #7a7a7a;
    transform: scale(1.2)
}

.ball-control a.active {
    background: #7eb0ff;
    color: #fff;
    transform: scale(1)
}

.total {
    color: #787c84;
    padding-top: 10px;
    margin: 0 auto;
    text-align: center
}

.tz-game .total:first-child {
    border-top: 1px dotted #ccc
}

.label_buyAndPrint {
    margin-left: 5px;
    cursor: pointer
}

.label_buyAndPrint input {
    margin-top: 1px;
    vertical-align: text-top
}

.spinner {
    width: 100px;
    margin-left: 20px
}

.spinner input {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 28px
}

.spinner input[type=text]:focus:not([readonly]) {
    border-top: 1px solid #ccc;
    box-shadow: none;
    border-bottom: 1px solid #08a1ef
}

.spinner .input-group-addon {
    display: table-cell
}

.total-word {
    line-height: 30px;
    margin: 0 5px
}

.order-box {
    height: 500px;
    width: 363px;
    overflow: hidden;
    border: 1px solid #e3e3e3;
    background: #ebedf2;
    background: rgba(235, 237, 242, .5)
}

.order-box h6 {
    margin: 0 10px 2px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #666;
    border-bottom: 1px solid #dadada
}

.order-box .bd {
    margin: 0 10px
}

.order-box .bd .tableBox {
    width: 100%;
    height: 280px;
    overflow-y: scroll
}

.order-box .bd table {
    width: 100%
}

.order-box .bd table tr {
    border-bottom: 1px dashed #dcdcdc
}

.order-box .bd table td, .order-box .bd table th {
    height: 39px
}

.order-box .bd table th {
    font-weight: 400;
    color: #666
}

.order-box .bd table td {
    color: #767777
}

.color-43b580 {
    color: #43b580 !important
}

.order-box .bd table .play {
    display: block;
    width: 100px;
    height: 39px;
    line-height: 39px;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left
}

.order-box .ft {
    border-top: 1px solid #dadada;
    margin: 0 10px;
    text-align: center
}

.zhqs-box {
    width: 0;
    overflow: hidden;
    height: 40px
}

.total-word .zhqs {
    padding-top: 5px;
    margin-right: 20px;
    width: 100%
}

.total-word .zh-input {
    width: 56px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0;
    line-height: 22px;
    display: inline-block;
    transition: all .3s ease
}

.total-word .zh-input:focus:not([readonly]) {
    border-bottom: 0;
    border-color: #08a1ef
}

.total .fandian .form-control {
    padding: 0 5px;
    height: 28px;
    border-radius: 5px
}

.btn-red {
    background: #fc1f5d;
    color: #fff;
    font-size: 16px;
    width: 100px;
    height: 32px;
    line-height: 30px;
    padding: 0;
    border: 0
}

.btn-red:active, .btn-red:focus {
    background: #e00747;
    color: #fff
}

.btn-red:hover {
    color: #fff;
    background: #ff2d68
}

.btn-red-ling {
    background: 0 0;
    color: #fc7d5b;
    font-size: 16px;
    width: 100px;
    height: 32px;
    line-height: 30px;
    padding: 0;
    border: 1px solid #fc7d5b;
    margin-right: 15px
}

.btn-red-ling:hover {
    background: #fc7d5b;
    color: #fff
}

.btn-red-ling:active, .btn-red-ling:focus {
    background: #f4623e;
    color: #fff
}

.icon-ljt {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -323px -119px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.icon-del {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -359px -119px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle
}

.total-table-footer .select-row {
    height: auto;
    width: 60px !important
}

.total-table-footer .select-row button {
    padding: 0 0 0 12px;
    font-size: 12px;
    border-radius: 13px !important;
    height: 26px;
    outline: 0;
    line-height: 24px
}

.total-btn {
    position: absolute;
    right: 30px;
    top: 100px;
    text-align: center;
    width: 132px
}

.total-btn button {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
    line-height: initial;
    padding: 0
}

.total-btn button.btn-lg {
    height: 48px
}

.icon-j1 {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -396px -120px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top
}

.icon-j5 {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -435px -120px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top
}

.icon-set {
    background-image: url(../images/common/icon.png);
    background-repeat: no-repeat;
    background-position: -470px -119px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top
}

.total-btn .light-blue.darken-2 {
    background: #08a1ef !important
}

.total-btn .lime.darken-1 {
    background: #fc7d5b !important
}

.total-btn .red.darken-1 {
    background: #fc1f5d !important
}

.page-copyright {
    border-left: 64px solid #46474e;
    background: #fff;
    padding: 30px 0 10px;
    text-align: center;
    margin-top: -5px;
    z-index: 3;
    position: relative;
    color: #8b8b8b;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 110px
}

.modal-stop {
    width: 514px;
    margin-top: 140px
}

.modal-stop .stop-label {
    background: #70cfb7;
    border-radius: 4px;
    color: #7121b1;
    font-size: 12px;
    font-weight: 300;
    padding: 0 5px;
    height: 18px;
    line-height: 18px
}

.modal-stop .modal-header {
    background: url(../images/cqssc/shop-title.png) no-repeat;
    width: 512px;
    height: 215px;
    padding-top: 36px;
    border-radius: 4px 4px 0 0;
    overflow: hidden
}

.no-countdown-style.timeTo.timeTo-white div {
    background: 0 0;
    width: 30px !important
}

.no-countdown-style.timeTo ul {
    width: auto
}

.stop-win-title p {
    font-size: 22px;
    margin: 15px 0 0
}

.stop-win-title p, .stop-win-title span {
    color: #70cfb7
}

.stop-other-game {
    text-align: center
}

.stop-other-game a {
    position: relative;
    width: 128px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    background: #f7f7f7;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    margin: 10px;
    vertical-align: top
}

.hot-icon {
    width: 11px;
    height: 11px;
    display: block;
    background: url(../images/common/icon.png) -474px 0 no-repeat;
    position: absolute;
    right: 3px;
    top: 3px
}

.modal-stop .modal-footer a {
    color: #f04877;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: block
}

.caret-up-default {
    width: 100%;
    height: 9px;
    display: block;
    position: absolute;
    top: -8px;
    left: 0
}

.caret-up-default:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-bottom: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    color: #fff;
    position: absolute;
    top: 0
}

.kj-history-list {
    width: 450px;
    padding: 15px;
    margin: 7px 0 0;
    color: #4a4a4a;
    display: none;
    opacity: 0;
    transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    transition: all .3s ease-out 0s
}

.kj-history-list .caret-up-default {
    left: 62px
}

.open-hostory-header span {
    text-align: center;
    width: 240px;
    display: inline-block;
    vertical-align: middle
}

.open-hostory-header span:first-child {
    width: 160px
}

.open-hostory-header {
    border-bottom: 1px solid #ddd
}

.open-hostory-body {
    height: 335px;
    overflow: auto
}

.open-hostory-body table {
    margin-bottom: 0
}

.open-hostory-body table tbody td {
    line-height: 26px
}

.open-hostory-body i {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 26px;
    background: #e61751;
    color: #fff;
    margin: 0 2px;
    border-radius: 50%
}

.kj-pre .dropdown {
    cursor: pointer
}

.kj-pre .dropdown.hover > .kj-history-list {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0)
}

.kj-ing {
    width: 305px;
    height: 52px;
    overflow: hidden;
    line-height: 52px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: inline-block
}

.left-toolbar-tabs {
    width: 52px;
    background: #334259;
    position: fixed;
    right: 0;
    bottom: 300px;
    border-radius: 4px 0 0 4px;
    text-align: center;
    color: #999;
    z-index: 4
}

.left-toolbar-tabs .contact {
    height: 63px;
    width: 100%;
    border-bottom: 1px solid #41536f;
    padding-top: 9px;
    position: relative;
    cursor: pointer
}

.icon-contact {
    margin: auto;
    width: 24px;
    height: 24px;
    background: url(../images/common/icon.png) -90px -158px no-repeat;
    transition: all .6s ease-out 0s;
    display: block
}

.left-toolbar-tabs .pifu {
    height: 63px;
    width: 100%;
    border-bottom: 1px solid #41536f;
    padding-top: 9px;
    position: relative;
    cursor: pointer
}

.icon-pifu {
    margin: auto;
    width: 24px;
    height: 24px;
    background: url(../images/common/icon.png) 0 -195px no-repeat;
    transition: all .6s ease-out 0s;
    display: block
}

.left-toolbar-tabs .modeChange {
    position: absolute;
    top: 5px;
    right: 50px;
    padding: 5px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    white-space: nowrap;
    display: none
}

.left-toolbar-tabs .modeChange a {
    margin: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: green;
    background: #e5ddc9;
    border: 1px solid #999;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    cursor: pointer
}

.left-toolbar-tabs .modeChange i {
    visibility: hidden
}

.left-toolbar-tabs .modeChange a.active i {
    visibility: visible
}

.left-toolbar-tabs .to-top {
    height: 63px;
    width: 100%;
    padding-top: 9px;
    position: relative;
    cursor: pointer
}

.icon-top {
    margin: auto;
    width: 24px;
    height: 24px;
    background: url(../images/common/icon.png) -138px -158px no-repeat;
    transition: all .6s ease-out 0s;
    display: block
}

.left-toolbar-tabs a {
    color: #fff
}

.left-toolbar-tabs a:hover {
    color: #70cfb7
}

.left-toolbar-tabs a:hover .icon-contact, .left-toolbar-tabs a:hover .icon-pifu, .left-toolbar-tabs a:hover .icon-top {
    transform: scale3d(1.2, 1.2, 1)
}

.caret-right, .caret-right:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.caret-right {
    border-width: 8px
}

.caret-right:after {
    border-width: 7px
}

.caret-right {
    top: 8px;
    right: -7px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
    border-left-width: 0
}

.caret-right:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-left-color: #fff;
    border-right-width: 0
}

.swap {
    top: 19px
}

.lsjkhm-list-ul {
    height: 390px;
    overflow-y: auto
}

.lsjkhm-list-ul ul li {
    padding: 10px 10px 0;
    height: 45px;
    border-bottom: 1px solid #ddd
}

.lsjkhm-list-ul ul li p {
    display: inline-block
}

.lsjkhm-list-ul ul li span {
    display: inline-block;
    padding-right: 10px;
    color: #5a5a5a;
    line-height: 20px
}

.lsjkhm-list-ul ul li p b {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e61751;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    font-weight: 400
}

.more-lsjkhm {
    background: #fafafa;
    border-radius: 0 0 4px 4px;
    color: #7a7a7a;
    height: 44px;
    line-height: 44px
}

.more-lsjkhm a {
    color: #7a7a7a
}

.more-lsjkhm a:hover {
    color: #08a1ef
}

.phb-win-colse {
    width: 14px;
    height: 54px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: -14px;
    top: 50%;
    box-shadow: 1px 0 2px #aaa;
    background: #fff;
    color: #999;
    text-align: center;
    line-height: 52px;
    margin-top: -27px
}

.modal-zhuihao {
    width: 980px;
    margin: 60px auto 0
}

.modal-zhuihao input:focus:not([readonly]) {
    box-shadow: none
}

.btn-radio {
    background: 0 0;
    color: #7a7a7a
}

.btn-radio:active, .btn-radio:focus, .btn-radio:hover {
    color: #7a7a7a;
    background: #e4e8ea
}

.btn-radio.active {
    background: #08a1ef;
    color: #fff;
    box-shadow: none
}

.radio-btn {
    padding: 0 0 10px
}

.zhuihao-plan {
    padding: 15px 0;
    color: #7a7a7a;
    border-top: 1px dotted #ddd;
    text-align: center
}

.zhuihao-plan > div {
    margin-right: 15px;
    display: inline-block
}

.zhuihao-plan input {
    width: 56px;
    height: 28px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0;
    line-height: 26px;
    display: inline-block;
    transition: all .5s ease
}

.modal-zhuihao .issueContainer {
    height: 320px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto
}

.modal-zhuihao .issueContainer .table {
    margin: 0
}

.zh-qs {
    background: #e9e9e9;
    border-radius: 5px;
    display: inline-block
}

.zh-qs a {
    width: 48px;
    line-height: 24px;
    color: #666;
    text-align: center;
    border: 2px solid transparent;
    display: inline-block;
    cursor: pointer;
    transition: all .5s ease
}

.zh-qs a.active {
    background: #fff;
    border-color: #ccc;
    border-radius: 5px;
    color: #333;
    font-weight: 700
}

.zh-table input[type=text] {
    border-radius: 10px;
    width: 57px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    transition: all .3s ease;
    margin: 0
}

.modal-zhuihao .zh-table input[type=text]:focus:not([readonly]) {
    border-color: #08a1ef
}

.zh-table td, .zh-table th, .zh-table tr {
    line-height: 20px !important;
    color: #7a7a7a;
    border-color: #c9c9c9
}

.zh-table tbody {
    height: 250px;
    overflow-y: auto
}

.zh-table th {
    text-align: center
}

.zh-table th.text-left {
    text-align: left
}

.zh-table .label {
    border-radius: 14px;
    font-size: 12px;
    vertical-align: middle;
    height: 18px;
    line-height: 17px;
    padding: 0 6px;
    display: inline-block
}

.zh-table .checkbox {
    display: inline-block;
    margin: 0
}

.zh-footer {
    padding-top: 15px
}

.clock-time {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -100px;
    padding: 12px;
    width: 200px;
    height: 54px;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #3e545b;
    background: rgba(0, 0, 0, .25);
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: all .3s ease-out;
    visibility: hidden
}

.clock-time.active {
    visibility: visible;
    transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    transition: all .3s ease-out
}

.clock-time .timeTo.timeTo-white div {
    color: #fff;
    width: 20px !important;
    font-weight: 300;
    height: 30px !important
}

.clock-time .timeTo.timeTo-white div ul {
    left: 0 !important;
    top: -46px !important
}

.clock-time .timeTo span {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin: -5px 1px 0
}

.icon-clock {
    background: url(../images/common/icon.png) -452px -22px no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block
}

.clock-time .timeTo {
    display: inline-block
}

.modal-tips-win {
    width: 520px;
    height: 326px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -260px;
    margin-top: -160px
}

.win-tips-word {
    font-size: 20px;
    padding: 20px 0;
    line-height: 1.8em
}

.modal-tips-win .modal-footer, .modal-tips-win .modal-header {
    border: 0;
    text-align: center
}

.modal-tips-win .modal-footer {
    padding-bottom: 40px
}

.modal-tips-win .red.darken-1 {
    background: #fc1f5d !important
}

.modal-sure-win {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -261px;
    margin-top: -205px
}

.modal-sure-win .modal-content {
    background: url(../images/cqssc/qrtz-bg.png) no-repeat;
    width: 522px;
    height: 410px;
    box-shadow: none;
    border: 0
}

.modal-sure-win .modal-body {
    padding: 0 15px
}

.modal-sure-win .modal-footer, .modal-sure-win .modal-header {
    border: 0
}

.modal-sure-win .qs-title {
    font-size: 16px;
    height: 106px;
    padding-left: 30px
}

.modal-sure-win .win-tips-word {
    padding: 0;
    margin: 0
}

.modal-sure-win .qs-title b {
    font-weight: 400
}

.modal-sure-win .qs-info {
    padding-left: 20px
}

.modal-sure-win .this-total {
    color: red
}

.modal-sure-win .qs-tzqk {
    width: 492px;
    height: 185px;
    padding: 20px 40px;
    overflow-y: auto
}

.modal-sure-win .qs-tzqk span {
    text-align: right;
    width: 250px;
    display: inline-block;
    float: right
}

.modal-sure-win .qs-tzqk p {
    clear: both;
    margin-bottom: 5px
}

.modal-sure-win .modal-footer {
    text-align: center;
    padding-top: 25px
}

.list-full-history {
    padding: 20px 0;
    background: #fff;
    background: rgba(255, 255, 255, .5)
}

.list-full-history .title {
    height: 38px;
    position: relative
}

.list-full-history .title ul {
    position: absolute;
    top: 1px
}

.list-full-history .title li {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e4e0d8;
    border-left: 0;
    border-bottom: 0
}

.list-full-history .title li:hover {
    background: #fcfcf9
}

.list-full-history .title li.current {
    position: relative;
    border-top: 2px solid #FFF;
    background-color: #ebedf2;
    color: #666;
    cursor: default;
    border-bottom: 0
}

.list-full-history .title li.current:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #71cfb7
}

.list-full-history .content {
    background: #ebedf2;
    background: rgba(235, 237, 242, .5);
    padding: 5px 20px 20px;
    display: none;
    border-top: 1px solid #ebedf2
}

.list-full-history .panel-current {
    display: block
}

.list-full-history td {
    padding: 10px 6px;
    text-align: center;
    color: #666;
    border-bottom: 1px dotted #CCC
}

.list-full-history th {
    padding: 10px 0;
    border-bottom: 1px solid #DBDBDB;
    border-top: none;
    font-size: 12px;
    color: #666;
    text-align: center
}

.list-full-history th .th-line {
    background: url(../images/cqssc/gray-line.gif) right 3px no-repeat;
    font-size: 14px;
    color: #5e5444
}

.list-full-history td:last-child, .list-full-history th:last-child .th-line {
    background-image: none
}

.list-full-history tbody tr:hover td {
    background-color: #FFF;
    color: #a18c5e
}

.list-full-history tr.row-status-0 td {
    background: #FDFDF2
}

.list-full-history tr.row-status-1 td {
    color: #999;
    background: #F8F7F2
}

.list-full-history tr.row-status-1 td a {
    color: #999
}

.list-full-history tr.row-status-2 td {
    background: #F8F7F2
}

.list-full-history tr.row-status-3 td .cls-prize, .list-full-history tr.row-status-3 td .cls-status {
    color: #E87D36
}

.list-full-history tr.row-status-3 td .cls-prize {
    color: #E87D36;
    font-size: 18px
}

.list-full-history .balls {
    display: inline-block;
    padding: 0 0 0 10px
}

.list-full-history .balls i {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #f36e3d;
    border-radius: 18px;
    font-style: normal;
    margin: 0 2px;
    color: #f36e3d
}

.list-full-history .status-loading .balls i {
    border-color: #999;
    color: #999
}

.icon_refresh_loading, .user-amount-refresh.loading {
    animation-duration: .5s;
    animation-name: _rotateIn;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes _rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -360deg)
    }
    to {
        transform-origin: center;
        transform: none
    }
}

i.unReadMsg {
    position: absolute;
    top: 0;
    left: 25px;
    width: 0;
    height: 0;
    border: 3px solid #f66;
    border-radius: 3px;
    text-indent: 100000px;
    display: none
}

.btn_balance_toggle > span:last-child, .show .btn_balance_toggle > span, .show .view_balance > span, .view_balance > span:first-child {
    display: none
}

.show .btn_balance_toggle > span:last-child, .show .view_balance > span:first-child {
    display: inline-block
}
.time em{
    color:white!important;
}

.game-select-title li{
    float:left
}
.game-select-title .act1{
    font-size: 15px;
    margin-right: 10px;
    font-weight: 200;
    padding: 5px;
    background: #08a1ef;
    margin-top: 5px;
    color: #ffffff !important;
}
.game-select-title li:hover, .game-select-title li.act {
    color: #70cfb7 !important;
    display: inline-block;
    border-bottom: solid 2px #70cfb7;
}
#wanfa {width: 100%;padding-left: 10px;margin-top: 10px;height: 115px;/* border-bottom: 1px solid #e4e4e4; */}
#wanfa label {font-size: 14px;font-weight:200;cursor: pointer;float: left;width: 90px;height: 26px; margin:5px;color: #666;text-align: center;line-height: 26px;border-radius: 3px;}
#wanfa .content{width:850px;}
#wanfa label.act,#wanfa label:hover{background: #70cfb7;color: #fff;}
